@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.mt-100{
    margin-top: 100px;
}
.mt-50{
    margin-top: 50px;
}
.mt-15{
    margin-top: 15px;
}
.mt-5{
    margin-top: 5px;
}
.pl-5{
    padding-left: 5px;
}
.ta-c{
    text-align: center;
}
.bta-c{
    margin: auto;
    display: block;
}
.bg{
    background-color: #FEEAE9;
}
.carousel-inner{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.btn{
    padding: 9px 16px;
    background-image: linear-gradient(-180deg, #FF589B, #FF136F);
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    border-style: none;
    cursor: pointer;
}
.cat-1{
    background-image: linear-gradient(120deg, #FF9C35, #FFD019);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
.cat-2{
    background-image: linear-gradient(120deg, #FF589B, #FF136F);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
.cat-3{
    background-image: linear-gradient(120deg, #4289FF, #3F07F8);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
.cat h3{
    color: white
}
.cat-link{
    text-decoration: none;
}
.newsletter{
    padding: 70px 200px;
    background-color: #FEEAE9;
    border-radius: 8px;
    text-align: center;
}
.newsletter p{
    font-size: 14px;
}
.newsletter input{
    border: none;
    padding: 13px;
}
.footer p{
    text-align: center;
    font-size: 14px;
}
.footer p a{
    text-decoration: none;
}