@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.bg{
    background-color: #FEEAE9;
}
.carousel-inner{
    padding: 20px 40px;
    margin-top: 50px;
}
.price{
    color: #FF136F;
}
.btn{
    padding: 9px 16px;
    background-image: linear-gradient(-180deg, #FF589B, #FF136F);
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    border-style: none;
    cursor: pointer;
}